:root {
    --bg-light: white;
    --bg-dark: black;
    --border-dark: #471396;
    --border-light: #090040;
    --text-light: #806600;
    --text-dark: #FFCC00;
}

/* Light Modes */
body.light-mode {
    background-color: var(--bg-light);
    border: 5px solid var(--border-light);
}

.light-mode h1 {
    color: var(--text-light);
}

.light-mode p {
    color: var(--text-light);
}

.light-mode .fit-picture {
    border: 5px solid var(--border-light);
}

/* Dark Modes */
body.dark-mode {
    background-color: var(--bg-dark);
    border: 5px solid var(--border-dark);
}

.dark-mode h1{
    color: var(--text-dark);
}

.dark-mode p {
    color: var(--text-dark);
}

.dark-mode .fit-picture {
    border: 5px solid var(--border-dark);
}
