:root {
    --bg-light: white;
    --bg-dark: #000000;
    --border-dark: #9677BB;
    --border-light: #3d308e;
    --text-light: #806600;
    --text-dark: #FDC571;
}

/* Light Modes */
body.light-mode {
    background-color: var(--bg-light);
    border: 5px solid var(--border-light);
}

.light-mode h1,
.light-mode h2,
.light-mode p {
    color: var(--text-light);
}

.light-mode .fit-picture {
    border: 5px solid var(--border-light);
}

/* Dark Modes */
body.dark-mode {
    background-color: var(--bg-dark);
    border: 5px solid var(--border-dark);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p {
    color: var(--text-dark);
}

.dark-mode .fit-picture {
    border: 5px solid var(--border-dark);
}
